body{
    font-size: 20px;
}

header{width: 100%;margin: 0;padding: 0;align-items: center;
    
    background-image: url(../images/dawn.jpg);
    background-color: rgba(0, 0, 0, 0.63);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-position: center;
}


.wrapper{width: 100%;display: flex;}

.logo{width: 90%;/*! display: flex; */align-content: center;/*! align-items: center; */}

.logo h3{width: 20%;float: left;padding: 0px 46px;font-size: 26px;}
.logo a{
    text-decoration: none;
    color: white;

}


.logo h3 span{
    font-weight: 500;
}

nav{/*! width: 80%; */display: flex;float: inline-end;text-align: right;justify-content: space-between;margin: 0;padding: 20px;}

nav ul{display: flex;list-style: none;width: 80%;text-align: right;float: inline-end;}

nav ul li{

}

nav ul li a{text-decoration: none;padding: 15px 20px;/*! float: inline-end; */font-weight: bold;
    color: white;
}
/* banner */
.banner{
    text-align: center;
    padding: 76px;
}
.banner h4{font-size: 50px;font-style: italic;margin-bottom: 2px;}
.banner span{background-color: red;display: inline-block;height: 5px;width: 188px;border-radius: 12px;}
.banner h1{font-size: 80px;}
.banner button{background-color: red;border: 2px solid red;padding: 8px 12px;border-radius: 20px;color: white;}
.banner button a{text-decoration: none;color: white;}

/* upcoming event */
.event{
    text-align: center;
    padding: 49px;
    margin: 0px 30px;
}

.event h2{font-size: 41px;margin-bottom: 2px;}
.event span{display: inline-block;background-color: red;height: 5px;width: 188px;border-radius: 20px;}
.wrapper-1{
    display: flex;
    width: 100%;
    margin-top: 64px;
    gap: 32px;
}

.box{}
.box img{height: 400px;width: 618px;border-radius: 10px;}
.box h3{margin: 30px 0px;}
.box p{}
.box a{text-decoration: none;color: red;letter-spacing: 2px;}

/* explore section */
.explore{
    background-image: url(../images/father.jpg);
    background-position: center;
    background-color: rgba(0, 0, 255, 0.396);
    background-blend-mode: multiply;
    background-size: cover;
    color: white;
    background-repeat: no-repeat;
    

    overflow: hidden;
    background-attachment: fixed;
    max-width: 100%;
}
.wrapper-2{
    padding: 100px;
    width: 90%;
    display: flex;
    justify-content: flex-end;
}
.pic{width: 50%;}
.pic h1{font-size: 70px;margin-bottom: 2px;}
.pic span{display: inline-block;background-color: red;height: 5px;width: 188px;border-radius: 20px;}
.pic p{margin: 101px 0px;}
.pic a{text-decoration: none;color: white;letter-spacing: 2px;font-weight: bold;}

/* tour section */
.wrapper-3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin: 53px 2px;
    grid-gap: 20px;
    overflow: hidden;
    overflow-wrap: normal;
    
    padding: 26px 0px;
}
.tour{padding: 20px;
    width: 90%;
}
.tour h1{font-size: 34px;}
.tour span{}
.tour p{padding: 31px 0px;}
.tour a{text-decoration: none;color: red;font-weight: bold;}
.tour img{}
.img-1{height: 300px;width: 400px;padding: 21px 15px;box-shadow: rgba(17, 17, 26, 0.59) 0px 0px 16px;}
.img-2{height: 500px;width: 400px;box-shadow: rgba(17, 17, 26, 0.34) 0px 0px 16px;}
footer{
    text-align: center;
    background-color: black;
    color: white;
    margin: 0px;
    padding: 100px;
}